# Gradle
.gradle/
build/
**/build/
.gradle/

# Java
*.class
*.log
out/

# IDE files
/.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Local env
.env

# Docker
docker-compose.override.yml

# Misc
*.swp

# Other
.metals/
.vscode/
bin/
