<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- WebFlux / Reactor Netty debug -->
    <logger name="reactor.netty" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="ru.spbstu.cryptoadvisor" level="DEBUG"/>

</configuration>